{% from "form_macros_row.html" import render_field %}
{% from "form_macros_row.html" import render_field_text %}

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <button type="button" class="close xsimbol" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title helvet" id="exampleModalLabel">Leave us</h4>
            <h5 class="modal-title title-modal helvet">your contact information</h5>
        </div>
        <div class="modal-body">
            <form id="form_contact" class="form-group" action="" method="post">
                    {{form.hidden_tag()}}
                    <div class="row">
                           {{ render_field(form.name,size=50,class="form-control modal-input") }}
                           {{ render_field(form.email,size=50,class="form-control modal-input") }}
                           {{ render_field(form.phone,size=50,class="form-control modal-input") }}
                           {{ render_field_text(form.reason,size=250,class="form-control modal-input",rows="5",cols="60") }}
                    </div>
                </div>
            </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-nekso-submit" onclick="submit_form()">Send message</button>
                    </div>
        </div>
    </div>
</div>


<div class="modal fade" id="feedBackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h2 class="modal-title magenta" >Thanks!</h2>
                </center>
                
            </div>
            <div class="modal-body">
                <center>
                    <p>We will contact you!</p>
                    <button type="button" class="btn btn-nekso-accept" data-dismiss="modal">Ok</button>
                </center>
            </div>
        </div>
    </div>
</div>