{% extends "base.html"%}

{% block styles_extra %}

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/slide_style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">

{%endblock%}
{% block content %}

  <nav class="navbar navbar-inverse big-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div> -->
            <a class="navbar-brand" href="#">
                <img class="logo align-middle" src="{{url_for('static',filename='img/corporate/nekso-corporate.png')}}">
            </a>
      
      <!-- <div class="navbar-header">
        <a href="#">
          <img class="logo" src="../img/corporate/nekso-corporate.png">
        </a>
      </div> -->
      <!-- <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-center ">
          <li><a href="#">THE EXPERIENCE</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              WHERE WE FLY
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">VENEZUELA</a></li>
              <li><a href="#">UNITED STATES</a></li>
            </ul>
          </li>
          <li><a href="#">SERVICES</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              ENGLISH
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">SPANISH</a></li>
              <li><a href="#">FRENCH</a></li>
              <li><a href="#">GERMAN</a></li>
            </ul>
          </li>
        </ul>
      </div>  .navbar collapse -->
    </div>  <!-- .container fluid -->
  </nav>
  
    <div id="screen-letter-space" class="letter-space">
      <span class="your-flight">Your flight</span><span class="our-passion"> our passion</span>
      <div id="screen-soon" class="coming-soon">
        <p class="left-line"></p>
        <button type="button" class="btn-registrate" name="button"> REGISTER </button>
        <p class="right-line"></p>
      </div>
    </div>
  
    <div id="mobile-letter-space" class="mobile-letter-space">
      <span class="mobile-your-flight">Your flight</span><span class="mobile-our-passion"> our passion</span>
      <div id="screen-soon" class="coming-soon">
        <p class="left-line"></p>
        <button type="button" class="btn-mobile-registrate" name="button"> REGISTER </button>
        <p class="right-line"></p>
      </div>
    </div>
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <nav class="floating-menu">
            <form id="book_flight_form">
              <input id="option1" type="radio" name="radio" value="Roundtrip">
              <label for="option1"><span><span></span></span>Roundtrip</label>
              <input id="option2" type="radio" name="radio" value="OneWay">
              <label for="option2"><span><span></span></span>One Way</label>
              <select id="sel1" class="form-control input-small">
                <option value="" disabled selected>Fly from...</option>
                <option>Caracas</option>
                <!-- <option>Maracaibo</option> -->
                <!-- <option>Miami</option> -->
                <option>New York</option>
              </select>
              <select id="sel2" class="form-control input-small">
                <option value="city" disabled selected>Fly to...</option>
                <option>Caracas</option>
                <!-- <option>Maracaibo</option> -->
                <!-- <option>Miami</option> -->
                <option>New York</option>
              </select>
    
              <div class="group-date">
                <div class="input-group input-daterange form-inline Rectangledate ">
                  <input type="text" class="form-control recdate fecha-desde" value="Depart Date">
                  <div class="input-group-addon screen-date input-arrow"></div>
                  <input type="text" class="form-control recdate2 fecha-hasta" value="Depart Date">
                </div>
              </div>
              <button type="button" class="btn-nekso" name="button"> BOOK A FLIGHT </button>
            </form>
          </nav>
          <div class="item active">
            <img src="{{url_for('static',filename='img/corporate/c3.jpg')}}" alt="neksojet">
          </div>
          
          <div class="item">
            <img src="{{url_for('static',filename='img/corporate/c2.jpg')}}" alt="neksojet">
          </div>
          
          <div class="item">
            <img src="{{url_for('static',filename='img/corporate/c3.jpg')}}" alt="neksojet">
          </div>
        </div>
      </div>
    
      <nav class="floating-menu-movile">
        <form id="book_flight_form_movile">
          <input id="option1" type="radio" name="radio" value="Roundtrip">
          <label for="option1"><span><span></span></span>Roundtrip</label>
          <input id="option2" type="radio" name="radio" value="OneWay">
          <label for="option2"><span><span></span></span>One Way</label>
          <select id="sel1" class="form-control input-small mobile-select">
            <option value="" disabled selected>Fly from...</option>
            <option value="ccs1">Caracas</option>
            <!-- <option>Maracaibo</option> -->
            <!-- <option>Miami</option> -->
            <option value="ny1" >New York</option>
          </select>
          <select id="sel2" class="form-control input-small mobile-select">
            <option value="city" disabled selected>Fly to...</option>
            <option value="ccs2" >Caracas</option>
            <!-- <option>Maracaibo</option> -->
            <!-- <option>Miami</option> -->
            <option value="ny2" >New York</option>
          </select>
    
          <div class="date-mobile-format" >
            <div class="input-group input-daterange mobile-Rectangledate  ">
              <input type="text" class="form-control mobile-rect-1 fecha-desde-mobile" value="Depart Date">
              <span class="input-group-addon input-arrow-mobile "></span>
              <input type="text" class="form-control mobile-rect-2 fecha-hasta-mobile" value="Depart Date">
            </div>
          </div>
          <button type="button" class="btn-nekso-mobile" name="button"> BOOK A FLIGHT </button>
        </form>
      </nav>
    
    {% include 'shared/modals.html' %}
    
    
    
      <footer id="screen-footer">
        <span class="footer-copyrights">
           © 2017 Nekso Jet. - Términos y condiciones. - Políticas de privacidad.
        </span>
        <span class="social-media">
          <a href="https://goo.gl/xl0TXO"><img class="social-media-icon" src="{{url_for('static',filename='img/corporate/facebook-corporate.png')}}" alt="facebook" width="18px" height="18px"></a>
          <a href="https://goo.gl/MwIhVF"><img class="social-media-icon" src="{{url_for('static',filename='img/corporate/instagram-corporate.png')}}" alt="instagram" width="18px" height="18px"></a>
          <a href="https://goo.gl/O23VsJ"><img class="social-media-icon" src="{{url_for('static',filename='img/corporate/twitter-corporate.png')}}" alt="twitter" width="18px" height="18px"></a>
          <a href="https://goo.gl/7K7IPj"><img class="social-media-icon" src="{{url_for('static',filename='img/corporate/youtube-corporate.png')}}" alt="youtube" width="18px" height="18px"></a>
        </span>
      </footer>
      <footer id="mobile-footer">
        <div class="footer-copyrights-mobile">
           © 2017 Nekso Jet. - Términos y condiciones. - Políticas de privacidad.
        </div>
        <div class="social-media-mobile">
          <a href="https://goo.gl/xl0TXO"><img class="social-media-icon-mobile" src="{{url_for('static',filename='img/corporate/facebook-corporate.png')}}" alt="facebook" width="18px" height="18px"></a>
          <a href="https://goo.gl/MwIhVF"><img class="social-media-icon-mobile" src="{{url_for('static',filename='img/corporate/instagram-corporate.png')}}" alt="instagram" width="18px" height="18px"></a>
          <a href="https://goo.gl/O23VsJ"><img class="social-media-icon-mobile" src="{{url_for('static',filename='img/corporate/twitter-corporate.png')}}" alt="twitter" width="18px" height="18px"></a>
          <a href="https://goo.gl/7K7IPj"><img class="social-media-icon-mobile" src="{{url_for('static',filename='img/corporate/youtube-corporate.png')}}" alt="youtube" width="18px" height="18px"></a>
        </div>
      </footer>
      
{% endblock %}

{% block scripts_extra %}
<script src="{{ url_for('static',filename='js/main/corp.js')}}"></script>
{% endblock %}