body, html { overflow-x:hidden !important; }



@media (max-width: 1024px) {
	.logo {
		width: 125px;
		margin-top: -3%;
		margin-left: 25%;
		
	}

	.nav > li{
		margin-left: auto;
	  }
	.navbar-nav.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
	.navbar-header {
			float: none;
	}
	.navbar-toggle {
			display: block;
	}
	.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
			display: none!important;
	}
	.navbar-nav {
			float: none!important;
			margin: 7.5px -15px;
	}
	.navbar-nav>li {
			float: none;
	}
	.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
	}
	.navbar-text {
			float: none;
			margin: 15px 0;
	}
	.navbar-collapse.collapse.in { 
			display: block!important;
	}
	.collapsing {
			overflow: hidden!important;
	}	
}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
/* 
    .carousel .item {
        height: auto;
	  } */
	  .nav > li{
		margin-left: auto;
	  }
}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    .logo {
		width: 125px;
		margin-top: -3%;
		margin-left: auto;
		
	}

	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

	#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 30.271844660194173vw;
		
	}
	
	

}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .logo {
		width: 125px;
		margin-top: -3%;
	}
	.carousel .item {
		height: auto;
	  }
	
	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

		#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 23.271844660194173vw;
		
	}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
		width: 125px;
		margin-top: -3%;
		margin-left: auto;
		
    }
    /* .carousel .item {
        height: auto;
        width: auto;
	  } */
	  
	  .nav > li{
		margin-left: auto;
	  }
}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .logo {
		width: 125px;
		margin-top: -3%;
    }
    
    #book_flight_form {
        display: none;
    }
    .floating-menu{
        display: none;
	}
	.floating-menu-movile{
		display: block;
	}

	#book_flight_form_movile{
		display: block;
	}

	.carousel .item {
		height: auto;
	  }
	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}


	#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	
	
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    #book_flight_form {
        display: block;
    }
    .floating-menu{
        display: block;
	}
	
	.floating-menu-movile{
		display: none;
	}

	#book_flight_form_movile{
		display: none;
	}
    .carousel .item {
		height: auto;
	  }

	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

		#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 23.271844660194173vw;
		
	}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	.nav > li{
		margin-left: auto;
	  }
	  .logo {
		width: 125px;
		margin-top: -3%;
		margin-left: auto;
		
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    .logo {
		width: 125px;
		margin-top: -3%;
	}

	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}


	#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	
	
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
	.carousel .item {
		height: auto;
	  }

	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

	#screen-letter-space {
		display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 23.271844660194173vw;
		
	}
	
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
	.nav > li{
		margin-left: auto;
	  }
	  .logo {
		width: 125px;
		margin-top: -3%;
		margin-left: auto;
		
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

	#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	
	
}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
	.carousel .item {
		height: auto;
	  }
	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

		#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 23.271844660194173vw;
		
	}

	
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) {
    .logo {
		width: 125px;
		margin-left: 25%;
		margin-top: -3%;
    }
    /* .carousel .item {
        height: auto;
      }
	   */
	   .nav > li{
		margin-left: auto;
	  }
}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {
    .logo {
		width: 125px;
		margin-top: -3%;
	}
	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}


	#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	
	
}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: landscape) {
    .logo {
		width: 125px;
		margin-top: -3%;
		margin-left: auto;
		
	}
	
	.carousel .item {
		height: auto;
	  }

	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

		#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 23.271844660194173vw;
		
	}
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {
	.logo {
		width: 125px;
		margin-top: -3%;
		margin-left: auto;
		
    }
	.nav > li{
		margin-left: auto;
	  }
}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {
	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}


	#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	
	
}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {
	.carousel .item {
		height: auto;
	  }

	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}

		#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 23.271844660194173vw;
		
	}
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {
	.nav > li{
		margin-left: auto;
	  }
	  .logo {
		width: 125px;
		margin-top: -3%;
		margin-left: auto;
		
    }
}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {
    #book_flight_form {
        display: none;
    }
    .floating-menu{
        display: none;

	}
	.floating-menu-movile{
		display: block;
	}

	#book_flight_form_movile{
		display: block;
	}

	.carousel .item {
		height: auto;
	  }
	
	#screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}


	#screen-letter-space {
        display: none;
    }
	#mobile-letter-space{
		display: block;
	}

	

	
	
}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {
    #book_flight_form {
        display: block;
    }
    .floating-menu{
        display: block;
	}
	.floating-menu-movile{
		display: none;
	}

	#book_flight_form_movile{
		display: none;
	}

	.carousel .item {
		height: auto;
	  }

	  #screen-footer {
        display: none;
    }
	#mobile-footer{
		display: block;
	}


	
	#mobile-letter-space{
		display: block;
	}

	.mobile-letter-space {
		height: 23.271844660194173vw;
		
	}
	  
}

/* Laptops */
/* ----------- Non-Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 

	.floating-menu-movile{
		display: none;
	}

	#book_flight_form_movile{
		display: none;
	}

	#mobile-footer{
		display: none;
	}


	#mobile-letter-space{
		display: none;
	}

	
	
}

/* ----------- Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 


	.floating-menu-movile{
		display: none;
	}

	#book_flight_form_movile{
		display: none;
	}

	#mobile-footer{
		display: none;
	}

	#mobile-letter-space{
		display: none;
	}
}


/* ipad pro */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation: portrait) { 
	#screen-letter-space {
        display: none;
    }
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation: landscape) { 
	.letter-space {
		height: 12.271844660194173vw;
		
	}
}


/* ipad */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
#screen-letter-space {
        display: none;
	}	
	.mobile-letter-space {
		height: 13.271844660194173vw;
		
	}
	#mobile-letter-space{
		display: block;
	}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
#screen-letter-space {
        display: none;
	}	
	.mobile-letter-space {
		height: 17.271844660194173vw;
		
	}

	#mobile-letter-space{
		display: block;
	}
 }



/* nexus 5  */

@media only screen 
and (min-device-width :412px) 
and (max-device-width :  732px) 
and (orientation : landscape) { 
#screen-letter-space {
        display: none;
	}	
	.mobile-letter-space {
		height: 17.271844660194173vw;
		
	}
	#mobile-letter-space{
		display: block;
	}
}

/* iphone 6+ */

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio : 3) 
{ 
	.mobile-letter-space {
		height: 17.271844660194173vw;
		
	}
}