#myCarousel {
    width: 100%;
}
.carousel-control {
    margin-top: 20px;
}
.carousel-inner .item {
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ad1 {
    background: url(../img/luxury/l1.jpg) no-repeat center center fixed; 
}
.ad2 {
    background: url(../img/luxury/l2.jpg) no-repeat center center fixed; 
}
.ad3 {
    background: url(../img/luxury/l3.jpg) no-repeat center center fixed; 
}