.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

.carousel {
  background-size: contain;
}

.carousel .item {
  height: 700px;
}


/* .carousel-inner > .item {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}
 */
