/* #################################################### generic ################################################## */

body, html { 
	margin: 0;
	padding: 0;
	overflow-x:hidden; 
}

.input-small {
	width: 222px;
	background-position: right;
	background-image: url(../img/map-mark.png);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.errors{
	color: red;
}

.floating-menu-movile{
	display: none;
}

#book_flight_form_movile{
	display: none;
}
/* #################################################### generic ################################################## */


/* #################################################### navbar ################################################## */
.navbar {
	background-image: linear-gradient(to bottom, #eeeeee, #e6e6e6);
	border-color: transparent;
	height: 60px;
	vertical-align: middle;
}
.navbar li {
	font-family: Helvetica;
	font-size: 12px;
	letter-spacing: 0.1px;
}

.big-nav{
	line-height: 60px !important;
	
}

.nav.navbar-nav li a {
color: #4a4a4a;
}

.logo {
	width: 125px;
	margin-left: 150%;	
	padding-bottom: 12px;	
	display: block;
}

.nav > li.active > a{
color: rgba(0, 0, 0, 0.08);
}

/* .nav > li{
margin-left: 25px;
} */

.navbar-nav {
	text-align: center;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
}

.navbar-nav li a {
	line-height:30px;
}

.container-fluid{
	margin-left:-1%;
	margin-right:-1%;
}
/* #################################################### navbar ################################################## */


/* #################################################### footer ################################################## */



#screen-footer {
	/* position: fixed; */
	background-color: #fff;
	height: 58px;
	bottom: 0;
	width: 100%;
	text-align: center;
	position: relative;

	/* padding-top: 1%; */
	/* z-index: 6; */
}
.footer-copyrights{
	padding-top: 20.8px;
	padding-bottom: 20.8px;
	display: inline-block;
	font-size: 80%;
	font-family: Helvetica;
	
	
	
	
}
.social-media{
	
	/* float: right; */
	position: absolute;
	right: 0;
}

.social-media-icon {
	margin-top: 18px;
	margin-bottom: 18px;
	margin-right: 15px;
}



#mobile-footer {
	background-color: #fff;
	height: 58px;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: none;
	/* z-index: 6; */
}

.footer-copyrights-mobile{
	padding-top: 20.8px;
	padding-bottom: 5px;
	font-size: 80%;
	font-family: Helvetica;
	
}

.social-media-icon-mobile {
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 15px;
}

/* .social-media-mobile{ */

	/* position: absolute; */
	/* right: 0; */
/* } */
/* #################################################### footer ################################################## */


/* #################################################### slogan ################################################## */

.letter-space {
	height: 8.854166666666668vmax;
	align-items: center;
	align-content: center;
	text-align: center;
	display: block;
	width: auto;
}
.mobile-letter-space {
	height: 27.271844660194173vw;
	align-items: center;
	align-content: center;
	text-align: center;
	display: block;
	width: auto;
}
.coming-soon p{
	margin-top: 3%;
	display: inline-block;
}

.our-passion {
	width: 328px;
	height: 59px;
	font-family: Helvetica;
	font-size: 2.5vmax;
	font-weight: bold;
	letter-spacing: -0.4px;
	color: #4a4a4a;
}

.your-flight {
	width: 213px;
	height: 58px;
	font-family: Helvetica;
	font-size: 2.5vmax;
	font-weight: 300;
	line-height: 1.21;
	letter-spacing: -0.4px;
	text-align: left;
	color: #4a4a4a;
}

.mobile-our-passion {
	width: 328px;
	height: 59px;
	font-family: Helvetica;
	font-size: 3.5vmax;
	font-weight: bold;
	letter-spacing: -0.4px;
	color: #4a4a4a;
}

.mobile-your-flight {
	width: 213px;
	height: 58px;
	font-family: Helvetica;
	font-size: 3.5vmax;
	font-weight: 300;
	line-height: 1.21;
	letter-spacing: -0.4px;
	text-align: left;
	color: #4a4a4a;
}

.coming {
	margin-right: 0.5%;
	margin-left: 1%;
	width: 159px;
	height: 29px;
	font-family: Helvetica;
	font-size: 1.25vmax;
	font-weight: 300;
	color: #4a4a4a;
}

.soon {
	margin-right: 1%;
	width: 159px;
	height: 29px;
	font-family: Helvetica;
	font-size: 1.25vmax;
	font-weight: bold;
	color: #4a4a4a;
}

.right-line {
	width: 5.364583333333334vmax;
	height: 0.052083333333333336vmax;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(to right, rgba(255, 102, 114, 0.0), #ff0072);
	border-image-slice: 1;
}

.left-line {
	width: 5.364583333333334vmax;
	height: 0.052083333333333336vmax;
	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(to right, rgba(255, 0, 114, 0.0), #ff0072);
	border-image-slice: 1;
}

.btn-registrate {
	background-color: #ec1d7f;
	width: 196px;
	height: 44px;
	text-align: center;
	margin-top: 24px;
	/* margin-left: 13%; */
	position: relative;
	border: 0;
	box-shadow:none;
	border-radius: 0px;
	text-align: center;
	color: white;
	/* display: inline-block; */
}

.btn-mobile-registrate {
	background-color: #ec1d7f;
	width: 175px;
	height: 33px;
	text-align: center;
	margin-top: 24px;
	/* margin-left: 13%; */
	position: relative;
	border: 0;
	box-shadow:none;
	border-radius: 0px;
	text-align: center;
	color: white;
	/* display: inline-block; */
}

/* .registrate{
	display: inline-block;
} */


/* #################################################### slogan ################################################## */


/* #################################################### float menu ################################################## */

	.input-date {
		width: 99px;
		height: 44px;
		display: inline-block;
	}

	.input-arrow {
		margin-left: -4px;
		margin-right: -4px;
		width: 20px;
		height: 44px;
		display: inline-block;
		background-position: center;
		background-image: url(../img/corporate/pink-arrow.png);
		background-size: 70%;
		background-repeat: no-repeat;
	}

	.btn-nekso {
		background-color: #ec1d7f;
		width: 196px;
		height: 44px;
		text-align: center;
		margin-top: 24px;
		margin-left: 13%;
		border: 0;
		box-shadow:none;
		border-radius: 0px;
	}

	.group-date {
		margin-left: 20px;
		margin-top: 24px;
	}

	select.form-control {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		height: 44px;
	}

	.form-control:focus {
	border-color: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	}
	.floating-menu {
		width: 280px;
		height: 368px;
		border-radius: 4px;
		background-color: rgba(25, 40, 63, 0.45);
		padding: 5px;
		margin-top: 5%;
		margin-left: 8%;
		position: absolute;
		z-index: 1;
		font-family: Helvetica;
		font-size: 14px;
		color: #ffffff;
	}
	.floating-menu-movile{
		width: auto;
		height: 368px;
		/* border-radius: 4px; */
		background-color: rgba(25, 40, 63, 0.45);
		text-align: center;
		/* margin-top: 5%; */
		margin-left: 0px;
		margin-right: 0px;
		/* position: absolute; */
		/* z-index: 1; */
		font-family: Helvetica;
		font-size: 14px;
		color: #ffffff;
	}

	label {
		font-weight: 100;
	}

	#option1 {
		margin-top: 24px;
		margin-left: 20px;
	}
	#option2 {
		margin-top: 24px;
		margin-left: 20px;
		margin-bottom: 13px;
	}

	input[type=radio   ]:not(old){
		width     : 2em;
		margin    : 0;
		padding   : 0;
		opacity   : 0;
	}

	input[type=radio   ]:not(old) + label{
		display      : inline-block;
		margin-left  : -2em;
		line-height  : 1.5em;
	}

	input[type=radio   ]:not(old) + label > span{
		display          : inline-block;
		width            : 1.1em;
		height           : 1.1em;
		margin           : 0.25em 0.5em 0.25em 0.25em;
		border           : 0.0625em solid rgb(192,192,192);
		border-radius		 : 50%;
		background       : rgb(224,224,224);
		background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
		vertical-align   : bottom;
	}

	input[type=radio   ]:not(old):checked + label > span{
		background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
		background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
		background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
		background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
		background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
	}

	input[type=radio]:not(old):checked + label > span > span{
		display          : block;
		width            : 0.65em;
		height           : 0.65em;
		margin           : 0.125em;
		border           : 0.0625em solid rgb(244,0,161);
		border-radius		 : 50%;
		background       : rgb(244,0,161);
		background-image :    -moz-linear-gradient(rgb(244,0,161),rgb(244,0,161));
		background-image :     -ms-linear-gradient(rgb(244,0,161),rgb(244,0,161));
		background-image :      -o-linear-gradient(rgb(244,0,161),rgb(244,0,161));
		background-image : -webkit-linear-gradient(rgb(244,0,161),rgb(244,0,161));
		background-image :         linear-gradient(rgb(244,0,161),rgb(244,0,161));
	}

	input[type='radio']:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: white;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid white;
	}

	input[type='radio']:checked:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: #ec1d7f;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid white;
	}


	select {
		
		margin-left:20px;
		margin-right:20px;
		margin-top:24px;
	}




	textarea[name=reason] {
		resize: none;
	}



	.Rectangle {
		width: 190px !important;
		height: 44px !important;
		border-radius: 4px;
		background-color: #ffffff;
		/* background: url(../img/map-mark.png) no-repeat scroll; */
		font-family: Helvetica;
		font-size: 14px;
		color: #747575;
		
		background-position: right;
		background-image: url(../img/map-mark.png);
		background-size: contain;
		background-repeat: no-repeat;
		cursor: pointer;
	}


	.Rectangledate {
		width: 270px !important;
		height: 44px !important;
		border-radius: 4px;
		/* background-color: #ffffff; */
		font-family: Helvetica;
		font-size: 14px;
		margin-right: 0px;	
		margin-left: 0px !important;	
		color: #747575;
		
	}

	.recdate {
		height: 44px !important;
		width: 103px !important;
		border-radius: 4px !important;
		font-family: Helvetica;
		font-size: 14px;
		margin-left: 0px !important;
		color: #747575;
	}

	.recdate2 {
		height: 44px !important;
		width: 103px !important;
		border-radius: 4px !important;
		font-family: Helvetica;
		font-size: 14px;
		margin-right: 0px !important;	
		margin-left: 11px !important;
		color: #747575;
	}

	/* ############################# Mobile  ############################## */
		.mobile-Rectangledate {
			width: 270px !important;
			height: 44px !important;
			border-radius: 4px;
			/* background-color: #ffffff; */
			font-family: Helvetica;
			font-size: 14px;
			/* margin-right: 0px !important;	 */
			/* margin-left: 0px !important;	 */
			color: #747575;
			/* align-content: center; */
			margin: 0 auto;
			float: none;
			
		}
		
		
		.mobile-rect-1 {
			height: 44px !important;
			width: 102px !important;
			border-radius: 4px !important;
			font-family: Helvetica;
			font-size: 14px;
			/* margin-left: auto !important; */
			margin-left: 18%;
			color: #747575;
		}
		
		.mobile-rect-2 {
			height: 44px !important;
			width: 102px !important;
			border-radius: 4px !important;
			font-family: Helvetica;
			font-size: 14px;
			/* margin-right: 0px !important;	 */
			/* margin-left: 11px !important; */
			color: #747575;
		}

		.btn-nekso-mobile {
			background-color: #ec1d7f;
			width: 196px;
			height: 44px;
			text-align: center;
			margin-top: 24px;
			border: 0;
			box-shadow:none;
			border-radius: 0px;
		}
		.mobile-select{
			margin-left:auto;
			margin-right:auto;
			/* align-content: center; */
			margin-top:24px;
		}

		.input-arrow-mobile {
			/* margin-left: -4px; */
			/* margin-right: -4px; */
			width: 20px;
			height: 44px;
			/* display: inline-block; */
			background-position: center;
			background-image: url(../img/corporate/pink-arrow.png);
			background-size: 70%;
			background-repeat: no-repeat;
		}

		.date-mobile-format{
			padding-top: 20px;
			/* margin: 0 auto;
			float: none; */
			align-content: center;
		}
		
	/* ############################# Mobile  ############################## */
	.form-inline{
		/* padding-top: 3.5% !important; */
		display: inline;
	}

	.form-inline > * {
		margin:5px;
	}

	.input-group-addon{
		background-color: white !important;
		border-color: white !important;
		border-radius: 4px !important;
	}

	.screen-date{
		position: absolute;
		
	}

/* #################################################### float menu ################################################## */


/* #################################################### modal ################################################## */

.modal-input:focus{
border-color: #ff0072;
}

.modal-textarea:focus{
outline: none !important;
border:1px solid #ff0072;
box-shadow: 0 0 10px #719ECE;
}

#contacModal, #feedBackModal{
font-family: Helvetica;
}

.modal-header{
background-image: linear-gradient(to bottom, #eeeeee, #e6e6e6);
border-color: transparent; 
border-top-left-radius: 4px; 
border-top-right-radius: 4px; 
}
.modal-footer{
background-image: linear-gradient(to bottom, #eeeeee, #e6e6e6);
border-color: transparent; 
border-bottom-left-radius: 4px; 
border-bottom-right-radius: 4px; 
}

.btn-nekso-submit{
background-color: #ec1d7f;
color: #ffffff;
}

.btn-nekso-submit:focus{
	color: #ffffff;
}

.btn-nekso-submit:hover{
	color: #ffffff;
}

.btn-nekso-accept{
background-color: #ec1d7f;
color: #ffffff;
}

.btn-nekso-accept:focus{
	color: #ffffff;
}

.btn-nekso-accept:hover{
	color: #ffffff;
}
.xsimbol{
	float: right;
}

.title-modal{
	float: left;
}
.centrar{
	text-align: center;
}

.helvet{
	font-family: Helvetica,
}

.magenta{
	color: #ec1d7f;
}

#mobile-letter-space{
	display: none;
}

/* #################################################### modal ################################################## */