{% extends "bootstrap/base.html"%}
<title>Nekso Jet</title>

{% block styles %}
{{super()}}
<link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% block styles_extra %}

{% endblock %}
{% endblock %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
    </head>
    <body>
    <!-- <div class="container"> -->
    {% block content %}
    {% endblock %}

    <!-- </div> -->
    </body>

</html>

{% block scripts %}
{{super()}}
<!-- <script src="{{ url_for('static',filename='js/jquery-1.11.2.min.js')}}"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

{% block scripts_extra %}

{% endblock %}
{% endblock %}
