{% macro render_field_text(field) %}

<div class="col-md-12 col-xs-12">
    <label {% if field.errors  %} class="error" {% endif %}></label>
    <div>{{ field.label }}</div>
    <div>{{ field(**kwargs)|safe }}</div>

    <div id=id_"{% field.name %}" class="errors">
        <ul>
            {% for error in field.errors %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}