{% macro render_field(field) %}

<div class="col-md-4 col-xs-12">
    <label {% if field.errors  %} class="error" {% endif %}></label>
    <div>{{ field.label }}</div>
    <div>{{ field(**kwargs)|safe }}</div>

    <div id="{{ field.name }}_errors" class="errors">
        <ul>
            {% for error in field.errors %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}


{% macro render_field_text(field) %}

<div class="col-md-12 col-xs-12">
    <label {% if field.errors  %} class="error" {% endif %}></label>
    <div>{{ field.label }}</div>
    <div>{{ field(**kwargs)|safe }}</div>

    <div id="{{ field.name }}_errors" class="errors">
        <ul>
            {% for error in field.errors %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}